*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --color1: #d8a787;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
  width: 70%;
  height: 80%;
  background: var(--color1);
  box-shadow: 0px 0px 15px #917563;
  border-radius: 20px;
  display: flex;
}

header .left-side,
.right-side {
  width: 70%;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 20px 36% 39% 20px;
}

header .right-side {
  width: 30%;
  border-radius: 47% 20px 20px 50%;
}

header .main_watch {
  position: absolute;
  right: 19%;
  top: 18.7%;
  filter: drop-shadow(0px 0px 3px #000);
  height: 62%;
}

header .left-side nav {
  width: 100%;
  height: 10%;
  /* border: 1px solid #fff; */
  margin: 0 6%;
  color: #fff;
  display: flex;
  align-items: center;
}

header .left-side nav ul {
  list-style: none;
  display: flex;
  margin-left: 20px;
}

header .left-side nav ul li {
  padding-left: 30px;
}

header .left-side nav ul li a {
  text-decoration: none;
  color: rgba(167, 167, 167);
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s linear;
}

header .left-side nav ul li a:hover {
  color: #fff;
}

header .left-side nav ul li .logo {
  font-size: 12px;
  margin-top: 4px;
}

header .left-side section {
  width: 90%;
  height: 70%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
}

header .left-side section .log,
.content {
  height: 100%;
  /* width: 5px; */
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-top: 5%;
}

header .left-side section .content {
  margin-left: 15%;
}

header .left-side section .log a {
  text-decoration: none;
  color: rgba(167, 167, 167);
  font-size: 20px;
  padding: 8px 0;
  transform: rotate(-90deg);
  transition: 0.3 linear;
}

header .left-side section .log a:hover {
  color: #fff;
}

header .left-side section .log a:nth-child(2) {
  color: #fff;
}

header .left-side section .content h1 {
  font-size: 100px;
  line-height: 0px;
}

header .left-side section .content svg {
  height: 150px;
  /* border: 1px solid #fff; */
}

header .left-side section .content svg text {
  font-size: 100px;
  letter-spacing: 4px;
  font-weight: 200;
  fill: transparent;
  stroke: #fff;
  animation: effect 4s linear forwards;
}

@keyframes effect {
  0% {
    stroke-dasharray: 0 70%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}

header .left-side section .content h6 {
  font-size: 20px;
  font-weight: 600;
}

header .left-side footer {
  width: 90%;
  height: 20%;
  /* border: 1px solid #fff; */
  margin: auto;
  overflow: hidden;
}

header .left-side footer .foot__bx {
  position: relative;
  height: 100%;
  color: rgba(167, 167, 167);
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

header .left-side footer .foot__bx h4 {
  font-size: 10px;
  height: 20px;
  /* border: 2px solid #fff; */
  display: flex;
  align-items: center;
}

header .left-side footer .foot__bx img {
  position: absolute;
  width: 250px;
  height: 100px;
  left: 15%;
  bottom: 0px;
  transition: 2.3s linear;
  object-fit: cover;
}

header .right-side {
  border: 1px solid #fff;
}

header .right-side ul {
  /* border: 1px solid #fff; */
  width: 90%;
  height: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

header .right-side ul li {
  padding: 0px 0px 0px 30px;
}

header .right-side ul li a {
  text-decoration: none;
  color: rgba(167, 167, 167);
  font-size: 10px;
  font-weight: 500;
  transition: 0.3s linear;
}

header .right-side ul li a:hover {
  color: #fff;
}

header .right-side ul li:nth-child(2) a {
  position: relative;
  margin-left: 15px;
}

header .right-side ul li:nth-child(2) a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2.5px;
  background: rgba(167, 167, 167);
  right: 0;
  border-radius: 20px;
  top: 3px;
}

header .right-side ul li:nth-child(2) a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2.5px;
  background: rgba(167, 167, 167);
  right: 0;
  border-radius: 20px;
  top: 9px;
}

header .right-side section {
  position: relative;
  width: 90%;
  height: 70%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .right-side section .bx {
  width: 100px;
  height: 100px;
  /* border: 1px solid #fff; */
  border-radius: 20px;
  margin-top: 45px;
  box-shadow: inset 0px 1px 0px rgba(167, 167, 167),
    inset 0px -1px 0px rgba(167, 167, 167),
    inset 1px 0px 0px rgba(167, 167, 167),
    inset -1px 0px 0px rgba(167, 167, 167);
  display: flex;
  gap: 11px;
  overflow: auto;
}

header .right-side section .bx::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

header .right-side section .bx .scroll_watch {
  min-width: 83px;
  object-fit: cover;
  height: 102px;
  margin: -2px -15px 0px 15px;
  cursor: pointer;
}

header .right-side section .btn_lr {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  transform: rotate(0);
  top: 35%;
  cursor: pointer;
}

header .right-side .btn_lr:nth-child(1) {
  transform: rotate(0);
  top: 73%;
  right: 28%;
}

header .right-side section img {
  width: 14px;
}

header .right-side footer {
  width: 66%;
  height: 20%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 15px;
}

header .right-side footer h3 {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .right-side footer h3 span {
  font-size: 8px;
  margin: 0px 2px;
}

header .add_to_cart {
  position: absolute;
  right: 26.5%;
  bottom: 5%;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
